/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Container */
.container {
    width: 100%;
    max-width: 950px;
    background-color: #db883b8c;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 10px 20px 	rgba(0,0,0,0.2);
}

.container-heading {
    font-size: 2.8rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.heading_font {
    font-family: 'Pacifico', cursive;
    color: #2c3e50;
}

.description p {
    font-size: 1.2rem;
    color: #444;
    margin: 5px 0;
}

/* ML Input Form */
.ml-container {
    background-color: #fff;
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.form-input {
    width: 850px;
    padding: 12px 18px;
    margin: 15px 0;
    border: 2px solid #9c7c24;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #007BFF;
    outline: none;
}

/* CTA Button */
.my-cta-button {
    width: 100px;
    padding: 14px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: 10px;
  
}

.my-cta-button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

/* Prediction Output */
.prediction-text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #1e3c72;
    margin-top: 20px;
}

.result-box {
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    background-color: #ffffffd0;
    color: #1e3c72;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.result-box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container-heading {
        font-size: 2.2rem;
    }

    .ml-container {
        padding: 20px;
        margin: 20px auto;
    }

    .form-input {
        font-size: 0.95rem;
    }

    .result-box {
        font-size: 1.2rem;
    }
}
